#map {
	height: 400px;
    width: 100%;
    }
	
	
#h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	
}

#body{
	text-align-last: center;
	font-family: 'Open Sans Condensed', sans-serif;
  background-color: lightblue;
	
}

#current {
	padding-right: 40px;
	list-style-type: none;
	
	
}

#go {
	padding-right: 40px;
	list-style-type: none;
	
	
}

#button {
	width:100%;
	
}

