#map {
	height: 400px;
    width: 100%;
    }
	
	
#h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	
}

#body{
	text-align-last: center;
	font-family: 'Open Sans Condensed', sans-serif;
  background-color: lightblue;
	
}

#current {
	padding-right: 40px;
	list-style-type: none;
	
	
}

#go {
	padding-right: 40px;
	list-style-type: none;
	
	
}

#button {
	width:100%;
	
}

.container {
	background-color: #f2f2f2; 
	color: darkblue; 
	border: 2px solid DodgerBlue;
	text-align: center;
	padding: 20px; 
	padding-left: 50px; 
	width: 60%;"
}

/*mobil anpassning*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


